<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="../javascript/login.js"></script>
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <img src="img/hamburger-menu.png" alt="desplegable menu for sidebar">
        </div>
        <div class="header-items">
            <img src="img/interface-security-shield.png" alt="mini company logo">
        </div>
        <button class="trackgenix-style-button">Sing Up</button>
    </header>
    <main>
        <section class="login">

        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <img src="img/linkedin.png" alt="linkedin icon">
            <img src="img/twitter.png" alt="twitter icon">
            <img src="img/facebook.png" alt="facebook icon">
            <img src="img/instagram.png" alt="instagram icon">
            <img src="img/githab.png" alt="github icon">
        </div>
        <p class="footer-text">
            Rosario, Argentina
        </p>
        <p class="footer-text">
            Copyright © 2022 Trackgenix S.A. All rights reserved.
        </p>
    </footer>
</body>
</html>