#homepage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/landing.jpg);
}

#homepage h1{
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
}

#homepage img{
    width: 350px;
    height: 350px;
}

#what-is-trackgenix{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#what-is-trackgenix h2{
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
}

#what-is-trackgenix h3{
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

#what-is-trackgenix p{
    margin-left: 90px;
    margin-right: 90px;
    padding: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
}

#what-is-trackgenix img{
    width: 250px;
    height: 350px;
}

#why-choose-trackgenix{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.why-choose-children{
    width: 100%;
    height: 85px;
    display: flex;
    
}

.why-choose-title h2{
    margin-left: 35px;
    margin-right: 35px;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
}

.why-choose-children img{
    margin-left: 10px;
    width: 80px;
    height: 80px;
}

.why-choose-text{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    
}

.why-choose-text h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: left;
}

.why-choose-text p{
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: left;
}

#about-us{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-us-children p{
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;   
}

.about-us-children img{
    width: 370px;
    height: 215px;
}

.about-us-children h2{
    margin-left: 35px;
    margin-right: 35px;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
}

#get-in-touch{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#get-in-touch .boxes .trackgenix-style-button{
    width: 260px;
    height: 34px;
}

.get-in-title h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
}

.form-children{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-children label{
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
}

.form-children input{
    width: 275px;
    height: 37px;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-children select{
    width: 275px;
    height: 37px;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-children textarea{
    width: 275px;
    height: 100px;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 10px;
}

.contac-us{
    margin: 10px;
    display: flex;
    align-items: center;
}

.contac-us .contac-us-text{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: left;
}

.mini-boxes h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
}

.mini-boxes ol{
    padding-left: 15px;
}

.mini-boxes ol li a{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}